.postItem {
  width: 100%;
  display: flex;
  padding-block: 8px;
  gap: 16px;

  cursor: pointer;

  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}

.postItem:hover {
  background-color: #f9f9f9;
}
