.postItem {
  width: 100%;
  display: flex;
  padding-block: 8px;
  gap: 16px;

  cursor: pointer;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  &__author {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #637387;
  }
}

.postItem:hover {
  background-color: #f9f9f9;
}
