.searchQuery {
  position: relative;

  &__img {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 18px;
    height: 18px;
  }

  &__input {
    width: 100%;
    height: 46px;
    padding: 16px 35px;
    background-color: #f0f2f5;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;

    &:hover {
      border-color: #b3ccde;
    }

    &:focus {
      border-color: #3e9ee3;
    }

    &::placeholder {
      color: #637387;
    }
  }
}
