.header {
  flex-shrink: 0;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 60px);
}

.left {
  flex: 1;
  justify-content: flex-start;
}

.right {
  flex: 1;
}

.center {
  justify-content: center;
  text-align: center;
  flex: 3;

  h3 {
    margin: 0;
    flex: 1;
  }
}

.right {
  justify-content: flex-end;
}
